
  <p>update works!</p>
  <!DOCTYPE html>
  <html>
    <head>
      <!-- <link rel="stylesheet" href="css/style.css" type="text/css"/> -->
      <title>DCX Developer Directory</title>

      <style>
        #map {
          width: 400px;
          height: 250px;
          float: left;
        }
      </style>

      <!-- <script src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    </head>

    <body>
      <div id="container">
        <header>
          <h1><span class="blueText">DCX</span> Developer Directory</h1>
          <h2>Find A Developer <span class="whiteText">NOW</span></h2>
        </header>

      <nav id="menu">
        <ul>
          <li class="menuitem"><a href="index.html">Home</a></li>
          <li class="menuitem"><a href="about.html">About Us</a></li>
          <li class="menuitem"><a href="browse.html">Browse Developers</a></li>
          <li class="menuitem"><a href="register.html">Register As Developer</a></li>
          <li class="menuitem"><a href="contact.html">Contact Us</a></li>
        </ul>
      </nav>

      <nav id="leftMenu">
        <h3>Links</h3>
        <ul>
          <li><a href="browse.html">SEO</a></li>
          <li><a href="browse.html">PHP</a></li>
          <li><a href="browse.html">Ajax</a></li>
          <li><a href="browse.html">jQuery</a></li>
          <li><a href="browse.html">Web design</a></li>
          <li><a href="browse.html">Web Programming</a></li>
          <li><a href="browse.html">Content Creation</a></li>
          <li><a href="browse.html">Internet Marketing</a></li>
          <li><a href="browse.html">XHTML Templates</a></li>
        </ul>
      </nav>

      <section>
          <h3>Update Developer Account</h3>

          <form [formGroup]="developerForm" (ngSubmit)="developerForm.valid && onSubmit()" class="tp-form" style="text-align: center;" autocomplete="off">

            <mat-form-field appearance='outline' class="tp-full-width">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName='full_name' pattern="[A-Za-z\s]+">
              <mat-error *ngIf="developerForm.get('full_name').errors?.required">Full Name is Required</mat-error>
              <mat-error *ngIf="developerForm.get('full_name').errors?.minlength">Full Name must be at least 5 characters</mat-error>
              <mat-error *ngIf="developerForm.get('full_name').errors?.maxlength">Full Name should not have more than 20 characters</mat-error>
              <mat-error *ngIf="developerForm.get('full_name').errors?.pattern">Numbers and Special characters are not allowed</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance='outline' class="tp-full-width">
              <mat-label>Enter Email</mat-label>
              <input matInput formControlName='email'>
              <mat-error *ngIf="developerForm.get('email').errors?.required">Email is Required</mat-error>
              <mat-error *ngIf="developerForm.get('email').errors?.pattern">Email is invalid</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance='outline' class="tp-full-width">
              <mat-label>Group</mat-label>
              <mat-select formControlName='groupSelected'>
                <mat-option *ngFor='let name of designation' [value]="name">{{name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="developerForm.get('groupSelected').errors?.required">You must make a selection</mat-error>
            </mat-form-field><br>

            <button type="submit" mat-raised-button class="btn-color">Update Developer</button>

          </form>
    </section>

    </div>
    <div style="clear:both"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      Copyright 2017. DCX Developer Directory.
    </footer>
    </body>
  </html>
