
* {
	margin: 0 auto 0 auto;
	text-align: left;
}
.alert
{
    color: red;   /*manually added to show all error messages in red*/
}
/* .panel-primary .table {
  width: 100%;
}

.panel-primary .table th {
background-color: #1C478E;
color: #fff;
}
.panel-primary .table th, .panel-primary .table td {
padding: 10px 10px;
}
.panel-primary .table tr:nth-child(even) td {
background-color: #eee;
} */
